@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  background-color: black;
  /* overflow: hidden; */
  height: 100vh;
  text-transform: uppercase;
  color: rgb(238, 237, 240);
}
.App {
  text-align: center;
  background-image: url("./images/Chalkboard.jpg");
  background-repeat: repeat-y;
  font-family: "Gloria Hallelujah", sans-serif;
  height: 100vh;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.play-page {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.btn1 {
  top: 0;
  left: 0;
  transform: translate(-35%, -40%);
}

.btn2 {
  top: 0;
  right: 0;
  transform: translate(+40%, -37%);
}

.btn3 {
  bottom: 0;
  left: 0;
  transform: translate(-37%, 30%);
}

.btn4 {
  bottom: 0;
  right: 0;
  transform: translate(+40%, +30%);
}

.question {
  justify-content: center;
  cursor: auto;
}

.answer:hover {
  background-color: rgb(238, 237, 240);
  color: rgb(8, 7, 7);
}
.answer,
.timer {
  position: absolute;
}
.timer {
  align-self: flex-start;
}

/* .green {
  background-color: green;
  transition: all 0.9s;
}

.red {
  background-color: red;
  transition: all 0.9s;
} */
